:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-primary: #0E4C9E;
  --color-primary_hover: #194379;
  --color-dark: #252525;
  --color-success: #11B9C3;
  --color-success_hover: #0F9299;
  --color-danger: #791919;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.request-card-container {
  padding: 10px;
  border: 1px solid lightgray;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;

  &:hover {
    cursor: pointer;
    background-color: #f9f9f9;
  }
}

.song-info-container {
  .info-item {
    display: flex;
    justify-content: space-between;
    p {
      margin-bottom: 6px;
    }
  }

  .info-item {
    display: flex;
    justify-content: start;
    text-align: start;
  }

  .info-item.title {
    margin-bottom: 10px;
  }

  .info-item b {
    margin-right: 5px;
  }
}

.song-actions-container {
  display: flex;
  align-items: center;

  .btn-complete {
    background-color: #11B9C3;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      width: 60%;
      height: 60%;
    }

    &:hover {
      background-color: #0f9299;
      cursor: pointer;
    }
  }

  .btn-chart {
    background-color: #0e4c9e;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;

    svg {
      width: 40%;
      height: 40%;
    }

    &:hover {
      background-color: #194379;
      cursor: pointer;
    }
  }

  .btn-done {
    background-color: rgb(37, 37, 37);
    width: 100px;
    color: white;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      width: 40%;
      height: 40%;
    }

    &:hover {
      background-color: #791919;
      cursor: pointer;
    }
  }
}

.form-submit-success-modal {
  background-color: #11B9C3;
  position: absolute;
  color: white;
  top: 10%;
  padding: 40px;
  height: 60vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 12px;
}

.charts-modal {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(37, 37, 37, 0.87);
  width: 50%;
  height: 100%;
  padding-top: 200px;

  .chart-search {
    height: 50px;
    width: 100%;
    max-width: 800px;
  }

  .btn-close {
    color: white;
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
  }

  .charts-thumbnail-container {
    .charts-thumbnail {
      margin-right: 10px;
      margin-bottom: 10px;
    }
  }
}

.admin-tab {  
  &:first-child {
    margin-right: 20px;
  } 

  &.active-tab {
    border-bottom: 4px solid var(--color-primary);
  }

  &:hover {
    cursor: pointer;
    color: var(--color-primary)
  }
}

.chart-iframe {
  height: 90vh;
}

.chart-search {
  border: 2px solid var(--color-dark);
  border-radius: 6px;

  &:focus {
    border: 2px solid var(--color-primary);
    outline: 2px solid var(--color-primary);
    border-radius: 6px;
  }

}

.charts-modal {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(37, 37, 37, 0.87);
  width: 100%;
  height: 100%;
  padding: 150px 100px 0;

  .btn-close {
    color: white;
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
  }

}

@media (max-width: 768px) {
  .dashboard-page,
  #root {
    width: 100%;
  }
  .request-card-container {
    width: 100%;
    display: block;
    
    .song-actions-container {
      display: flex;
      justify-content: space-around;
    }

    .btn-complete,
    .btn-done,
    .btn-archive {
      width: 50px;
      height: 50px;
      margin-top: 10px;
      svg {
        width: 20px;
        height: 20px;
      }
    }
  }

  .charts-modal {
    padding: 100px 20px 0;
  }
}

